.position-absolute-left {
    position: absolute;
    left: 0;
}

.position-absolute-right {
    position: absolute;
    right: 0;
}

.position-absolute-top {
    position: absolute;
    top: 0;
}

.position-absolute-bottom {
    position: absolute;
    bottom: 0;
}


.notice {
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.notice-in {
    height: 60px;
    max-height: 60px;
    opacity: 1;
}

.notice-out {
    height: 0px;
    opacity: 0;
}

.notice-pin {
    transition: 0.2s;
    -webkit-transition: 0.2s;
    opacity: 0.5;
}

.notice-pin-on {
    opacity: 1.0;
}
